{% extends "index.html" %}
{% block title %}Catalog{% endblock %}

{% block content %}
{% load static %}
<div class="container">
    <br/>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Explore Our Tea Catalog</h1>
        </div>
    </div>

    <div class="row">

        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="Green Tea">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description}}</p>
                    <a href="{% url 'Product' product.id %}" class="btn btn-primary">Learn More</a>
                    <a  href="{% url 'collection_add' product.pk %}" class="btn btn-primary"> Add </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
