{% extends "index.html" %}
{% block title %}Catalog{% endblock %}

{% block content %}
{% load static %}

<div class="container mt-5">
    <h2 class="mb-4">My Favorite Teas</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tea Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            {% if request.user in product.favourite.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ product.name }}</td>
                <td>
                    <a type="button" href="{% url 'collection_delete' product.pk %}" class="btn btn-danger delete-product"> Remove </a>
                </td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>
                <td colspan="3" class="text-center">No favorite teas yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
