{% extends "index.html" %}
{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <strong>Holy tea!</strong> {{ message }}
    </div>
    {% endfor %}
    
    <b3></b3>
   
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <br/>
            {% if user.is_authenticated %}
            <h2 class="text-center"> Hello, {{ user.username }} ! </h2>
            {% else %}
            <h2 class="text-center"> Welcome to the tea world ! </h2>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ random_product.image.url }}" class="card-img-top" alt="Green Tea">
                    <div class="card-body">
                        <h5 class="card-title">{{ random_product.name }}</h5>
                        <a href="{% url 'Product' random_product.pk %}" class="btn btn-primary">Learn More</a>
                        {% if user.is_authenticated %}
                        <a href="{% url 'collection_add' random_product.pk %}" class="btn btn-primary"> Add </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
      
{% endblock %}
